{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ encore_entry_link_tags('stimulus_app') }}
{% endblock %}

{% block body %}
  <div data-controller="counter"></div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('stimulus_app') }}
{% endblock %}
