@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import '~bulma/sass/utilities/_all';
@import '~spinkit/spinkit.min.css';
// Customizing bulma's variable
// $family-primary: 'IBM Plex Sans', sans-serif;

// $primary: $blue;
// $primary-light: findLightColor($primary);
// $primary-dark: findDarkColor($primary);
// $primary-invert: findColorInvert($primary);
// $custom-colors: null !default;
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

// $colors: mergeColorMaps(
    // (
        // "primary": (
            // $primary,
            // $primary-invert,
            // $primary-light,
            // $primary-dark,
        // ),
    // ),
    // $custom-colors
// );
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '~@mdi/font/css/materialdesignicons.min.css';


.is-album-cover {
    position: relative;
    width: 100%;
    .img-cover {
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    &:hover .overlay {
        display: block;
        opacity: 1;
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        );
    }
}

.is-album-info strong{
    color: $grey-darker;
}

// .albumListalbumCardRootContainer a {
//     color: #121212; 
// }


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .5s ease;
}

.playlist-item-renderer {
    display: flex;
    // align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .sk-chase-dot:before {
        background-color: #fff;
    }
    .sk-bounce {
        height: 32px;
        width: 32px;
        margin: 0 24px 0 15px;
        .sk-bounce-dot {
            --sk-color: #fff;
        }
    }
    .sk-swing {
        margin: 0 24px 0 15px;
        .sk-swing-dot {
            --sk-color: #fff; 
        }
    }
    .sk-wave {
        margin: 0 24px 0 15px;
        .sk-wave-rect {
            --sk-color: #fff; 
        }
    }
    .icon {
        display: none;
    }
    &.key-selected {
        border: 1px solid $primary;
        .icon {
            display: block;
            margin-left: 5px;
            margin-bottom: 3px;
        }
    }
    &:hover {
        border: 1px solid $primary;
        .icon {
            display: block;
            margin-left: 5px ;
            margin-bottom: 3px;
        }
    }
    &.on-playlist {
       .left-item {
            .play {
                color: #fff;
            }
        }
    }
    &.current-track {
        background-color: $primary;
        color: white;
        .left-item {
            margin: 0 24px 0 12px;
            .tracknumber {
                display: none;
            }
        }
        &.is-playing {
            .sound-bars {
                width: 20px;
                height: 20px;
                position: absolute;
                background: url('../images/animated-sound-bars.gif') no-repeat center;
                background-size: cover;
            }
            .icon {
                display: none;
            }
        }
        .icon {
            display: block;
            margin-left: -1px;
            margin-bottom: 0px;
        }
    }
    .left-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 0 24px 0 5px;
        .play {
            position: absolute;
        }
    }
    .title-wrapper {
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        //align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
    }
    .duration {
        width: 54px;
        text-align: end;
        margin: 0 15px 0 15px;
    }
}
.control {
    cursor: pointer;
}

.player-bar {
    .sk-bounce-dot {
        --sk-color: #4a4a4a;
    }
    svg {
        cursor: pointer;
    }
    img {
        width: 40px;
        margin-right: 10px;
    }
}
.svg-wrapper {
    line-height: 1;
}

.catalogRootContainer, .playlistRootContainer, .trackListIndexRootContainer {
    margin-bottom: 90px;
}


.b-slider {
    .b-slider-thumb-wrapper {
        &.is-dragging {
            .b-slider-thumb {
                transform: scale(2.25);
            }
        }
    }
}

.container.is-fluid.progress-bar {
    padding-left: 0;
    padding-right: 0;
}

.bar-container {
    padding: 15px 0;    
    display: block;
    position: relative;
    overflow: hidden;
}
.progress-bar {
    // display: flex;
    cursor: pointer;
    position: fixed;
    bottom: 65px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    .progress-container {
        // background-color: $grey-lightest;
        // height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
    }
    #progress {
        position: absolute;
        left: 0;
        width: 0%;
        height: 3px;
        transition: width .1s;        
        background-color: $body-color;
        z-index: 0;
    }
    #progress-knob {
        width: 20px;
        background-color: $red;
        border-radius: 50%;
        height: 20px;
        position: absolute;
    }
}

.is-loading {
    background: url('../images/loading.gif') no-repeat left center;
    .left-item img {
        display: none
    }
}

.playlist-item-renderer .title-wrapper {
    display: flex;
    flex-direction: column;
}
.hover-time-info {
    position: absolute;
    top: 0;
    transform: translate3d(-50%, -100%, 0);
    border-radius: 4px;
    background-color: $body-color;
    color: #fff;
    font-size: $size-small;
    padding: 0 5px;
    opacity: 0;
}

.progress-bar:hover .hover-time-info {
    opacity: 1;
}
